:root
    --transition: .2s ease-in-out

*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Roboto', 'sans-serif'
    color: #fff

.container
    max-width: 1270px
    padding: 0 35px
    margin: 0 auto

h1,
h2,
h3,
h4,
h5,
h6
    font-size: 53px
    font-weight: 900
    margin: 0

p
    font-size: 16px
    font-weight: 400
    margin: 0

ul
    list-style: none
    padding: 0
    margin: 0

a
    text-decoration: none
    color: inherit
    cursor: pointer
    &:hover
        color: inherit

button
    border: none
    background: transparent

body
    padding-top: 110px
    background: linear-gradient(180deg, #ED2727 0%, rgba(23, 158, 255, 0) 100%), linear-gradient(180deg, rgba(0, 168, 221, 0.45) 0%, rgba(185, 0, 201, 0) 100%), linear-gradient(180deg, #000000 0%, rgba(3, 13, 38, 0.53) 100%)
    background-blend-mode: multiply, normal, normal
    overflow-x: hidden



@import header
@import bouquet
@import delivery
@import buy

@import animation

